@model AboutApartment 
<body style="background-image: url(/assets/media/bg-apartment.png);">
    <main>
        <section id="page-title">
            <h1>
                Our Apartment
            </h1>
        </section>
        <section id="room">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <div class="title">
                            <a asp-controller="OurApartment" asp-action="Index">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                            <h1>@Model.Name</h1>
                        </div>

                        <div class="row">
                            <div class="col-8">
                                
                                <div class="slider">
                                    <ul id="imageGallery">
                                        <li data-thumb="@Model.ApartmentThumbnailImagePath" data-src="@Model.ApartmentThumbnailImagePath">
                                            <img src="@Model.ApartmentThumbnailImagePath" />
                                        </li>
                                        <li data-thumb="@Model.ApartmentThumbnailImagePath" data-src="@Model.ApartmentThumbnailImagePath">
                                            <img src="@Model.ApartmentThumbnailImagePath" />
                                        </li>
                                        <li data-thumb="@Model.ApartmentThumbnailImagePath" data-src="@Model.ApartmentThumbnailImagePath">
                                            <img src="@Model.ApartmentThumbnailImagePath" />
                                        </li>
                                    </ul>
                                </div>

                                <div class="info">
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-4">
                                                <h4>Properties:</h4>
                                            </div>
                                            <div class="col-8">
                                                <ul>
                                                    <li> Accomodates: <span>@Model.DetailedInformationApartment.PersonLimitSize</span></li>
                                                    <li> Size: <span>@Model.SizeOfRoomInSqrMeter</span></li>
                                                    <li> Beds: <span>@Model.BedCounts</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-4">
                                                <h4>More Info:</h4>
                                            </div>
                                            <div class="col-8">
                                                <p>
                                                    @Model.DetailedInformationApartment.DetailedDescription
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-4">
                                                <h4>Amenities:</h4>
                                            </div>
                                            <div class="col-8">
                                                <ul>
                                                    <li> <i class="fab fa-twitter"></i> <span>twitter</span></li>
                                                    <li> <i class="fab fa-twitter"></i> <span>twitter</span></li>
                                                    <li> <i class="fab fa-twitter"></i> <span>twitter</span></li>
                                                    <li> <i class="fab fa-twitter"></i> <span>twitter</span></li>
                                                    <li> <i class="fab fa-twitter"></i> <span>twitter</span></li>
                                                    <li> <i class="fab fa-twitter"></i> <span>twitter</span></li>
                                                    <li> <i class="fab fa-twitter"></i> <span>twitter</span></li>
                                                    <li> <i class="fab fa-twitter"></i> <span>twitter</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <div class="col-4">
                                <div class="book">
                                    <span>From</span>
                                    <p>$@Model.PriceOfRoom</p>
                                    <span>Per Night</span>
                                    <form action="#" method="post">
                                        <input type="date">
                                        <input type="date">
                                        <input type="number">
                                        <input type="number">
                                        <button type="submit">Book Now</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
