@model AboutApartment
<body style="background-image: url(/assets/media/bg-apartment.png);">
    <main>
        <section id="order">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-8">
                                <div class="details">
                                    <div class="title">
                                        <h2>Guest Details</h2>
                                    </div>
                                    <form action="/OurApartment/PlaceOrder" method="post">
                                        <div class="row">
                                            <div class="col-6 mb-3">
                                                <label class="form-label">First Name</label>
                                                <input class="form-control" name="FirstName">
                                            </div>
                                            <div class="col-6 mb-3">
                                                <label class="form-label">Last Name</label>
                                                <input class="form-control" name="LastName">
                                            </div>
                                            <div class="col-6 mb-3">
                                                <label class="form-label">Email Address</label>
                                                <input class="form-control" name="email">
                                            </div>
                                            <div class="col-6 mb-3">
                                                <label class="form-label">Phone Number</label>
                                                <input class="form-control" name="phone">
                                            </div>
                                            <div class="col-6 mb-3">
                                                <label class="form-label" style="display: block;">Country</label>
                                                <select class="form-control" name="country">
                                                    <option disabled selected>Select Country</option>
                                                    <option value="Azerbaijan">Azerbaijan</option>
                                                    <option value="Turkey">Turkey</option>
                                                    <option value="England">England</option>
                                                </select>
                                            </div>
                                            <div class="col-6 mb-3">
                                                <label class="form-label" style="display: block;">Special Requests</label>
                                                <textarea class="form-control" rows="3" name="Request"></textarea>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <button type="submit">Continue to Check out</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="summary">
                                    <h2>
                                        Order Summary
                                    </h2>
                                    <div class="main-image">
                                        <img src="@Model.ApartmentThumbnailImagePath" alt="">
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-6">
                                                <p>Room Type</p>
                                            </div>
                                            <div class="col-6">
                                                <span>@Model.Name</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <p>Bed Count</p>
                                            </div>
                                            <div class="col-6">
                                                <span>@Model.BedCounts</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <p>Person Count</p>
                                            </div>
                                            <div class="col-6">
                                                <span>@Model.PersonLimitSize</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-6">
                                                <p>
                                                    SubTotal
                                                </p>
                                            </div>
                                            <div class="col-6" style="text-align: right;">
                                                <span>@Model.PriceOfRoom$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-6">
                                                <span>
                                                    Total
                                                </span>
                                            </div>
                                            <div class="col-6" style="text-align: right;">
                                                <span>@Model.PriceOfRoom$</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </main>

@*     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="assets/JS/main.js"></script> *@
</body>
