@model List<AboutApartment>

<!DOCTYPE html>
<html lang="en">

<body style="background-image: url(/assets/media/bg-apartment.png);">
    <main>
        <section id="page-title">
            <h1>
                Our Apartment
            </h1>
        </section>
        <section id="rooms">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <h1>Our Rooms</h1>
                        <partial name="_SearchForm" model="new SearchModel()"></partial>

                        @foreach (AboutApartment apart in Model.OrderBy(u=>u.PriceOfRoom))
                        {
                            <div class="item">
                                <div class="image">
                                    <img src=@apart.ApartmentThumbnailImagePath alt="">
                                </div>
                                <div class="description">
                                    <div class="info">
                                        <h2>
                                            <a href="#">@apart.Name</a>
                                        </h2>
                                        <span>
                                            @apart.Description
                                        </span>
                                        <ul class="parametres">
                                            <li>Size: <span>@apart.SizeOfRoomInSqrMeter</span> </li>
                                            <li>Beds: <span>@apart.BedCounts</span> </li>
                                        </ul>
                                        <ul class="features">
                                            <li title="WiFi">
                                                <i class="fas fa-wifi"></i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="price">
                                        <span>From</span>
                                        <p>$@apart.PriceOfRoom</p>
                                        <a asp-controller="OurApartment" asp-action="Apartment" asp-route-id="@apart.Id">
                                            More Info
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://kit.fontawesome.com/fad17f25d7.js" crossorigin="anonymous"></script>

    <script src="assets/JS/main.js"></script>
</body>

</html>